@use "../variables" as *;
@use "../utils/mixins" as *;

//
// modal.scss
//

.modal-content {
    color: inherit;
    border-radius: $border-radius-lg;
    background-color: var(--white);
    border-color: $border-color;    
}
.modal-title {
    font-size: 20px;
    color: var(--heading-color);
}
.modal-full-width {
    width: 95%;
    max-width: none;
}
.modal-top {
    margin: 0 auto;
}
.modal {
    &.show {
        .modal-right,
        .modal-left {
            transform: translate(0, 0) !important;
        }
    }
    .modal-sm {
        width: 400px;
        max-width: 400px;
    }
}
.modal-bottom {
    display: flex;
    flex-flow: column nowrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    margin: 0 auto;
    align-content: center;
}
.modal-filled {
    color: $white;
    .modal-header {
        background-color: rgba($white-rgb, 0.1);
    }
    .modal-title {
        color: $white;
    }
    .modal-header,
    .modal-footer {
        border: none;
    }
}
.modal-backdrop {
    backdrop-filter: blur(34px);
    &.show {
        background: rgba(0, 0, 0, 0.2);
        opacity: 1;
    }
}
.modal-header {
    padding: 20px;
    border:none;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    justify-content: space-between;
    .btn-close {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 18px;
        opacity: 1;
        padding: 0 !important;
        transition: all 0.5s ease-in-out;
        background: $light;
        margin: 0;
        &:hover {
            background: $danger;
            color: $darkmode-white !important;
            border-color: $danger;
        }
    }
}
.modal-body {
    padding: 20px;
    background-color: transparent;
}
.modal-footer>* {
    margin-top: 0;
    margin-bottom: 0;
}
.modal-footer {
    padding: 20px 0;
    background-color: transparent;
    border-color: var(--border-color);
    margin: 0px 20px;
}
.btn-close:focus {
    box-shadow: none;
}
.offcanvas-header, .offcanvas-body, .offcanvas-footer {
    padding: 20px 20px;
}
.offcanvas-footer {
    display: flex;
    justify-content:end;
    gap: 8px;
    margin: 0px 20px;
    padding: 20px 0;
    border-top: 1px solid $border-color;
}
.offcanvas-header {
    border-bottom: 1px solid $border-color;
}
// Offcanvas
.offcanvas {
    min-width: 350px !important;
    background-color: var(--white);
    color: var(--body-color);
    border-left: 1px solid $border-color !important;
    margin: 12px;
    @include respond-below(md) {
        min-width: auto !important;
    }
    @include respond-below(sm) {
        margin: 0;
    }
    .btn-close {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 18px;
        opacity: 1;
        padding: 0;
        transition: all 0.5s ease-in-out;
        background: $light;
        margin: 0;
        &:hover {
            background: $danger;
            color: $darkmode-white;
            border-color: $danger;
        }
    }
    &.offcanvas-end {
        border-radius: 10px;
    }
}
.modal-header.bg-colored {
    padding: 20px;
    border-color: var(--border-color);
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    justify-content: space-between;
    background: linear-gradient(270deg, rgba(255, 187, 0, 0.3) 0%, rgba(19, 181, 201, 0.3) 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-close {
        background: transparent;
        font-size: 20px;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.7s;
        margin: 0;
        &.btn-close-modal {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 32px;
            height: 32px;
            background: $light;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 24px;
            opacity: 1;
            padding: 0;
            transition: all 0.5s ease-in-out;
            @include respond-below(md) {
                width: 20px;
                height: 20px;
                font-size: 16px;
            }
            &:hover {
                background: $danger;
                color: $darkmode-white;
            }
        }
    }
}